{% extends 'base.html' %}

{% block title %}Change your password{% endblock %}


{% block content %}
<div class="card">
    <div class="card-body">
        <h3 class="card-title">
            Change your password<br>
        </h3>
        <p>Use the form below to change your password.</p>
        <form action="." method="post">
            {% csrf_token %}
            {% for field in form %}
                {{ field.errors }}
            <br>{{ field.label_tag }}<br>{{ field }}<br>
            {% endfor %}<br>
            <p><input type="submit" value="Change"></p>
        </form>
    </div>
</div>

{% endblock %}