{% extends 'login_base.html' %}
{% block title %}Create an account{% endblock %}
{% block content %}

<div class="card-body">
    <h3 class="card-title">
        Please, sign up using the following form.
    </h3>
    <form action="." method="post">
        {% csrf_token %}
        {% for field in user_form %}
            {{ field.errors }}
            {{ field.label_tag }}<br>{{ field }}<br>
        {% endfor %}
       <br> <p><input class="btn" type="submit" value="Create my account"></p>
    </form>
</div>

{% endblock %}