.container{
    margin-top:10px;
}
.glyphicon-search{
    font-size:20px;
}
.btn-default{
    width:100px;
    padding:12.5;
    background:#aaccff;
}
.project-title{
   text-align:center;
   margin-top:15px;
}
.pagination{
    margin-top:20px;
}
.rside .lside{
    margin-top:15px;
}
.navbar{
background-color:#aaccff;
}
.footer_color{
    background-color:#aaccff;
    margin-top:15px;
}
.blue{
    background-color:#aaccff;
}
.login-card{

     margin: auto;
  width: 60%;
  border: 8px solid #aaccff;
  padding: 10px;
  margin-top:30px;
}
.btn{
    background-color:#aaccff;
    color:#ffffff;
}
.btn:hover{
    color:#ffffff;
}
.signin{
    margin-left:40px;
}
.label{
    margin-left:40px;
}