.container{
    margin-top:10px;
}
.glyphicon-search{
    font-size:20px;
}
.btn-default{
    width:100px;
    padding:12.5;
    background:#ff9933;
}
.project-title{
   text-align:center;
   margin-top:15px;
}
.pagination{
    margin-top:20px;
}
.rside .lside{
    margin-top:15px;
}
.navbar{
background-color:#ff9933;
}
.alert{
    background-color:skyblue;
}
.green{
    background-color:green;
    margin-top:15px;
}
.blue{
    background-color:skyblue;
}