{% extends 'base.html' %}

{% block title %}Share a post{% endblock %}

{% block content %}
        {% if sent %}
            <div class="card">
                <div class="card-header">
                    <h1>E-mail successfully sent</h1>
                </div>
                <div class="card-body">
                    <p>
                        "{{ post.title }}" was successfully sent to {{ form.cleaned_data.to }}.
                    </p>
                </div>
            </div>
        {% else %}
            <div class="card">
                <div class="card-header">
                    <h1>Share "{{ post.title }}" by e-mail</h1>
                </div>
                <div class="card-body">
                    <form action="." method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                {{ field.errors }}
                                {{ field.label_tag }} <br> {{ field }}
                            </div>
                        {% endfor %}
                        <input type="submit" value="Send e-mail">
                    </form>
                </div>
            </div>
        {% endif %}

{% endblock %}